* {
    margin: 0;
    padding: 0;
}
#wrapper {
    width:500px;
    background-color: #e5f2ff;
    font-family: Monaco,'Courier New', monospace;
    padding: 10px;
    margin: 0 auto;
}
.kontrolka {
    width: 400px;
    /* outline: 1px solid green; */
    margin-top: 5px;
    
}
.kontrolka label {
    width:100px;
    display: inline-block;
    text-align: left;
    /*outline: 1px solid red;*/
}
.kontrolka input {
    width: 60px;
}
.kontrolka input[type="button"] {
    /*margin-left:100px;*/

}
#czas_obliczony	{
    font-size: 22px;
    font-weight: bold;
    color: #007fff;

}	